<Fragment>
  <h6 className="large text-primary">New Onboarding Design</h6>
    <form className="form" onSubmit="" onChange ="">
      <div className="" style={{ marginTop: 20 }}>
            <div className="card">
              <div><p className="lead"><i className="fas fa-user"></i> 
                Company profile </p></div>
                <div className="card-body">
                <div className="row">
                 
                    <div className="">
                      <h6>Company name</h6>
                      <input type="text"  name="companyName" id="companyName" placeholder="Enter company name..." onChange =""/>
                    </div>
                 
                    <div className="">
                      <h6>Description</h6>
                      <textarea type="textarea" name="companyDescription" id="companyDescription" className="form-control" onChange =""></textarea>
                    </div>
                  </div>
                      <div><h6>Project management tools</h6>
                      <div><CompanyCollection add={this.addNewRow} delete={this.clickOnDelete.bind(this)} collectionList={collectionList}/></div></div><br/><br/>
                  <div><h6>Development methodologies</h6></div>
                      <div><CompanyMethodology add={this.addNewRow1} delete={this.clickOnDelete1.bind(this)} methodologyList={methodologyList}/></div>
                  <div><br/><p className="lead"><i className="fas fa-user"></i> 
                    Team/project profile </p></div>
                  </div>
                  <div className="col-sm-4">
                    <div className="form-group ">
                      <label className="required">Project name</label>
                      <input type="text"  name="projectName" id="projectName" className="form-control" placeholder="Enter team/project name..." />
                    </div>
                  </div>
                  <div className="col-sm-4">
                    <div className="form-group ">
                      <label className="required">Project description</label>
                      <textarea type='textarea' name="projectDescription"  id="projectDescription" className="form-control"></textarea>
                    </div>
                  </div>
                    <div className="form-group ">
                      <div><label className="required">Programing Languages:</label><br/>
                        <tbody>
                          <PrograminLanguage add={this.addNewRow2} delete={this.clickOnDelete2.bind(this)} programingList={programingList} />
                        </tbody>
                      </div>
                      <div><label className="required">Frameworks:</label><br/>
                        <tbody>
                        <Frameworks add={this.addNewRow3} delete={this.clickOnDelete3.bind(this)} frameworkList={frameworkList} />
                      </tbody>
                      <div><label className="required">Databases:</label><br/>
                        <tbody>
                         <Databases add={this.addNewRow4} delete={this.clickOnDelete4.bind(this)} databaseList={databaseList} />
                      </tbody>
                    </div>
                    </div>
                      <div><p className="required">Development Techniques</p></div>
                        <DevelopmentTechs add={this.addNewRow5} delete={this.clickOnDelete5.bind(this)} developmenttechList={developmenttechList} />
                    <br/>
                    <div><p className="lead"><i className="fas fa-user"></i> 
                        Onboarder's characteristics </p></div><br/>

                        <div className="row">
                  <div className="col-sm-4">
                    <div className="form-group ">
                      <label className="required table">Onboarder name</label>
                      <input type="text"  name="onboarderName" id="onboarderName" className="form-control" placeholder="Enter onboarder name" onChange =""/>
                    </div>
                  </div>
                  <div className="col-sm-4">
                    <div className="form-group ">
                      <label className="required">Onboarder email</label>
                      <input type="text"  name="onboarderEmail" id="onboarderEmail" className="form-control" placeholder="Enter onboarder's email..." onChange =""/>
                    </div>
                  </div>
                  </div>

            <div id="generatedQuestion">xxxx</div>
            <br/><br/>
                      <form>
                      <div>
                      <p>Are you new to the company ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="newtoCompany"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="abit" value="3<=score<5" name="newtoCompany"/>
                        <label>No</label><br/>
                      </div>

                      <div>
                      <p>Have you worked in this team or with some of the team members ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="workwithteam"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="abit" value="3<=score<5" name="workwithteam"/>
                        <label>No</label><br/>
                      </div>

                      <div>
                      <p>Have you ever completed your main  responsibilities as a plan ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="everComplete"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="abit" value="3<=score<5" name="everComplete"/>
                        <label>No</label><br/>
                      </div>
                      <div>
                      <p>Have you ever been rotated to work on roles of other team members ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="rotate"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="abit" value="3<=score<5" name="rotate"/>
                        <label>No</label><br/>
                      </div>
                      <div>
                      <p>Have you ever complete main duties on time ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="rotate"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="abit" value="3<=score<5" name="rotate"/>
                        <label>No</label><br/>
                      </div>
                      <div>
                      <p>Have you ever code and test a function of the product with team members ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="codetest"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="abit" value="3<=score<5" name="codetest"/>
                        <label>No</label><br/>
                      </div>
                      <div>
                      <p>Have you ever complete main assigned tasks based on the criterias of team's work quality?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="workquality"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="_notAtall" value="0<score<3" name="workquality"/>
                        <label>No</label><br/>
                      </div>
                      <div>
                      <p>Have you ever work in a project which Agile method was used ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="agilemethod"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="_notAtall" value="0<score<3" name="agilemethod"/>
                        <label>No</label><br/>
                      </div>

                      <div>
                      <p>Is there any member in your team use Agile artefacts ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="agileartefacts"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="_notAtall" value="0<score<3" name="agileartefacts"/>
                        <label>No</label><br/>
                      </div>

                      <div>
                      <p>Have you ever review the project components ?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="proComponent"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="_notAtall" value="0<score<3" name="proComponent"/>
                        <label>No</label><br/>
                      </div>

                      <div>
                      <p>Were there more than one module in the products developed by your organizaiton?</p>
                      </div>
                      <div>
                        <input type="radio" id="_notAtall" value="0<score<3" name="productmodules"/>
                        <label>Yes</label><br/>
                        <input type="radio" id="_notAtall" value="0<score<3" name="productmodules"/>
                        <label>No</label><br/>
                      </div>
                      <br/>
                      </form>
                                <div className="card-footer text-center">
                                    <button type="submit" className="btn btn-primary text-center" onClick="">Continue</button>
                                </div>
                          </div>
                          
                        </div>
                      </div>
              
        </form>
  </Fragment>